@import "tailwindcss";

@layer base {
    header {
        font-family: 'Inter', sans-serif;
    }
    main {
        font-family: 'Mulish', sans-serif;
    }
    .inter {
        font-family: 'Inter', sans-serif;
    }
}